In [253]:
print("hello world")

hello world

In [254]:
#write a statement to initialize variable and value as 50
a=50
print(a)

50

In [255]:
#write a statement to initialize multi variable values 
a,b,c =150,120,250
print(a,b,c)

150 120 250

In [256]:
#WAS to print type of data in given value
a={b:25}
print(type(a))

<class 'dict'>

In [257]:
#WAS to print the adress of memory block in given value
a=[10,20]
print(id(a))

2212589669312

In [258]:
#WAS to print your details ,first store your details , extract and display.
name='prasu'
age=22
phno=9876543210
pancard=True
print(name)
print(age)
print(pancard)

prasu
22
True

In [259]:
#WAS to swap 2 values with temp variable
a=10
b=20
temp=a
a=b
b=temp
print(a)
print(b)

20
10

In [260]:
#WAS to swap 2 values with out temp variables
m=[10,20]
n=[30,40]
print(m,n)
print(n,m)

[10, 20] [30, 40]
[30, 40] [10, 20]

In [261]:
#was to initialize the value,print a value,reinitialize the new value to the existing variable and display the value
a={'a':"pyspiders"}
print('a')
a['a']="qspiders"
a
a=[10,20]
a

a

[10, 20]

In [262]:
#WAS to convert single value data type to ,multi value data type
#i/p=10 o/p=['1','0']
a=10
a=str(a)
print(str(a))
print(list(a))

10
['1', '0']

In [263]:
#WAS to concatinate two multi value data types(string, list, tupule,set,dict)
x="hello"
x+="world"
print(x)
l=[10,20]
l+=[60,70]
print(l)
t=('prasu')
t+=('teju')
print(t)
d={10:20,30:40}
d|={'a':"hyy",'b':"byee"}
print(d)

helloworld
[10, 20, 60, 70]
prasuteju
{10: 20, 30: 40, 'a': 'hyy', 'b': 'byee'}

In [264]:
#WAs to concate  length of collection
a="laxmiprasanna"
print(len(a))

13

In [265]:
#WAE to  find out the middle value of given collection
a=[10,20,30,40,50]
print(len(a)//2)

2

In [266]:
#WAS to concate the new string into starting of given string
a="how r u"
b="hyy"
print(b+a)

hyyhow r u

In [267]:
#WAS to  concate the new string into ending of given string
a="hello"
b="world"
print(a+b)

helloworld

In [268]:
#WAS TO MODIFY SEQUENCE OF CHARACTERS IN GIVEN STRING
s='pyspiders'
print(s[0:3]+'PID'+s[6:])

pysPIDers

In [269]:
#WAS to replace the old character into a new character of given string
s='qspiders'
print(s[0:0]+'Q'+s[1:])

Qspiders

In [270]:
#WAS TO DELETE SPECIFIC CHARACTER FROM string
a="prasannau"
print(a[0:4]+a[8:])

prasu

In [271]:
#WAS to concate new string into specific position of given string
m= "pyspiders"
print(m[0:8]+'.com'+m[8:])

pyspider.coms

In [272]:
#WAS to delete sequence of characters of string
n="hey bye hii"
print(n[0:4]+n[8:])

hey hii

In [273]:
#WAS to concate new value into starting of the list
l=[1,2,3]

print([20,30]+l)

[20, 30, 1, 2, 3]

In [274]:
#WAS to concate new value at end of the list
a=[5,6,7]
print(a+[99,100])

[5, 6, 7, 99, 100]

In [275]:
#WAS to concate the new values in the middle of the list
y=[1,3]
y[0:1]+[4,5]+y[1:]

[1, 4, 5, 3]

In [276]:
#was to cancate new value into specific position of given list
l=[10,20,30,40,50]
l[-2:-2]=[100,200]
print(l)

[10, 20, 30, 100, 200, 40, 50]

In [277]:
#WAS to modify the new value into the specific position of givedmn list
l=['a','b','c','d']
l[1]='f'
print(l)

['a', 'f', 'c', 'd']

In [278]:
#WAS to modify the new value into the starting of given list
l=[10,20,'true','haii']
l[-4]='prasu'
print(l)

['prasu', 20, 'true', 'haii']

In [279]:
#WAS to modify the new value into the ending of given list
l=[10,20,'true','haii']
l[3]='prasu'
print(l)

[10, 20, 'true', 'prasu']

In [280]:
#WAS to modify the new value into the middle of given list
l=[10,20,'true','haii']
l[len(l)//2]='false'
print(l)

[10, 20, 'false', 'haii']

In [281]:
#was to modify first 4 positions of given list
l=[10,20,'true','haii',13,16]
l[0:4]=[20,30,40,'prasuu']
print(l)

[20, 30, 40, 'prasuu', 13, 16]

In [282]:
#was to modify the sequence of values in given list
h=[1,2,3,4,5,6,7,8,9]
h[1::2]=['a','b','c','d']
print(h)

[1, 'a', 3, 'b', 5, 'c', 7, 'd', 9]

In [283]:
#WAS to delete the value in specific position of given list
h=[1,2,3,4,5,6]
del h[4]
print(h)

[1, 2, 3, 4, 6]

In [284]:
#WAS to delete the value in ending of the list
h=[1,2,3,4,5,6]
del h[-1]
print(h)

[1, 2, 3, 4, 5]

In [285]:
#WAS to delete the value in middle of the list
l=[10,20,'true','haii',13,16]
del l[len(l)//2]
print(l)

[10, 20, 'true', 13, 16]

In [286]:
#WAS to concate the value into starting of tuple
t=(10,20,30,40)
t=(50,)+t
print(t)

(50, 10, 20, 30, 40)

In [287]:
#WAS to concate the  middle value into starting of tuple
t=(10,20,30,40)
t[len(t)//2]=(5,6)

TypeError: 'tuple' object does not support item assignment

In [ ]:
#WAS to concate the value into ending of tuple
t=(10,20,30,40)
t=t+(50,)
print(t)

(10, 20, 30, 40, 50)

In [ ]:
#was to modify sequence of values in given tupule
t=(10,20,30,40)
t[2:1]
print(t)

(10, 20, 30, 40)

In [ ]:
# was to delete sequence of values in given tuple
t=(10,20,30,40)
del t[-2:-1]

TypeError: 'tuple' object does not support item deletion

In [ ]:
#was to concate new value into set
s={1,2,3}
s/={10,20,30}
print(s)

TypeError: unsupported operand type(s) for /=: 'set' and 'set'

In [ ]:
#was to delete specific value from the set
s={1,2,3,4,5,6,7}
s=s-{4,5,6}
print(s)

{1, 2, 3, 7}

In [ ]:
#WAS to concate new key and value into the dictionary
d={'a':50}
d['b']=100
print(d)

{'a': 50, 'b': 100}

In [ ]:
#was to delete the specific key and value in given dict
d={'a': 50, 'b': 100}
del d['b']
print(d)

{'a': 50}

In [ ]:
#was to modify the specific  value in given dict
d={'a': 50, 'b': 100,'c':150}
d['c']='haii'
print(d)

{'a': 50, 'b': 100, 'c': 'haii'}

In [ ]:
#was to concate the list and tupule values by without type casting
l=['hyy','bye']
t=(10,20,30)
l+=t
print(l)

['hyy', 'bye', 10, 20, 30]

In [ ]:
#was to concate the list and tupule values by with type casting
l=['hyy','bye']
t=(10,20,30)
l+list(t)

['hyy', 'bye', 10, 20, 30]

In [ ]:
#WAE to check the given number is divisible by 3
n=36
print(n%3==0)

True

In [ ]:
#WAE to check the given number is divisible by 2 and 6
n=60
print(n%2==0 and n%6==0)

True

In [ ]:
#WAE to check the last digit is divisible by 3
n=996
print(((n%10)%3)==0)

True

In [ ]:
#wae to extract last digit of integer
n=1997
print(n%10)
print(n%100)
print(n%1000)

7
97
997

In [ ]:
#wae to check the last digit is divisible by 3 from given integer
n=3039
print(int(str(n)[-1])%3==0)

True

In [ ]:
#wae to check the given number is greater than 150
n=145
print(n>150)

False

In [ ]:
#wae to check the given number is greater than or  equal to 100
n=110
print(n>=100)

True

In [ ]:
#wae to check the given number is less than 150.print the result
n=147
print(n<150)

True

In [ ]:
#wae to check the given number is greater than 15 and less than 24
n=20
print(n>15  and n<24)

True

In [ ]:
#wae to check given no. is even
n=16
print(n%2==0)

True

In [ ]:
#wae to check given no. is odd
n=19
print(n%2!=0)

True

In [ ]:
#wae to check the given no is less than or equal to 100
n=100
print(n<=100)

True

In [ ]:
#WAE to perform the replication of given string with 6
s='abd'
print(s*6)
s=[10,20]
print(s*6)

abdabdabdabdabdabd
[10, 20, 10, 20, 10, 20, 10, 20, 10, 20, 10, 20]

In [ ]:
#wae to check the given number is divisble by 3 and also greate than 22
n=36
print(n%3==0 and n>22)

True

In [ ]:
#wae to check length of collection is even or not
m='prasanna'
(len(m)%2==0)

True

In [ ]:
#wae to check length of collection is less than 55 or greater than 16
m='laxmiprasannaprasuuuu'
print(16<len(m)<55)

True

In [ ]:
#wae to check length of collection is divisible by 5 and odd
m='hyeebyehlo'
(len(m)%5==0 and len(m)%2!=0)

False

In [ ]:
#wae to extract middle position of given collection either string ,list,tupule
s='hey!'
print([len(s)//2])
res=type([len(s)//2])
print(res==str or res==tuple or res==list)
s=[10,20,30,40,50]
print([len(s)//2])
res=type([len(s)//2])
print(res==str or res==tuple or res==list)
s={10:20,30:40,50:60}
print([len(s)//2])
res=type([len(s)//2])
print(res==str or res==tuple or res==list)

[2]
True
[2]
True
[1]
True

In [ ]:
#wae to check the given no. is odd and greater than 97
n=111
print(n>97 and n%2!=0)

True

In [ ]:
#wae to check given number is greater than 20 and less than 30 and it should be even
n=28
print(20<n<30 and n%2==0)

True

In [ ]:
#wae to check given no. is even and it should be less than 120
n=136
print(n%2==0 and n<120)
print(n%2==0 or n<120)

False
True

In [ ]:
#wae to check given no. is less than 122 and greater than 48 and no.should be divisible by 4
n=96
print(48<n<122 and n%4==0)

True

In [ ]:
#wae to check the given no. is divisible by 3 or 5,display the value
n=150
print(n%3==0 or n%5==0)

True

In [ ]:
#wae to checkn the given no is between 100 to 200 including the limit
n=150
print(100<=n<=200)

True

In [ ]:
#wae to checkn the given no is in between 100 to 200 
n=269
print(100<n<200)

False

In [ ]:
#WAE to check the given string last character  ascii value and should be divisible by 5 or not
s='purple'
print(ord (s[-1])%5==0) # ord is built in function to fetch ascii value

False

In [ ]:
#wae to check the given number is present in between 60 to 130 and the number should be divisible by 3 and 4 and last digit sgould be greater than 9
n=126
print(60<n<130 and n%3==0 and n%4==0 and n%10>9)

False

In [ ]:
#WAE to check the given no is even or less than 25
n=24
print(n%2==0  or n<25)

True

In [ ]:
#WAE to check the given no is even or greater than 25
n=26
print(n%2==0  or n>25)

True

In [ ]:
#WAE to check the given no is divisible by either3 or 5
n=45
print(n%3==0 or n%5==0)

True

In [ ]:
#WAE to check the given no. is not an even number
n=67
print(n%2!=0)

True

In [ ]:
#WAE to check the given no. is not an odd number
n=26
print(n%2==0)

True

In [ ]:
#WAE to check the given no is not divisible by 3
n=19
print(n%3!=0)

True

In [ ]:
#WAE to check the given no is not divisible by 3 and 5
n=35
print(n%3!=0 or n%5!=0)

True

In [ ]:
#WAE to check the given character ascii value is not divisible by 5
ch='r'
print(ord(ch)%5!=5)

True

In [ ]:
 #WAE to find out ascii character in a given number
n=19
print(chr(n))
n=65
print(chr(n))


A

In [ ]:
 #WAE to find out ascii value in a given number
ch='h'
print(ord(ch))

104

In [ ]:
#WAE to check the given character is uppercase or not
ch='M'
print('A'<=ch<='Z')
print(len(ch)==1 and 'A'<=ch<='Z')
ch='Gh'
print('A'<=ch<='Z')
print(len(ch)==1 and 'A'<=ch<='Z')

True
True
True
False

In [ ]:
#WAE to check the given character is alphabet 
ch='Z'
print('A'<=ch<='Z' or 'a'<=ch<='b')
print(len(ch)==1 or 'a'<=ch<='z')

True
True

In [ ]:
#wae to check the given character is lower case or not
ch='e'
print('a'<=ch<='z')

True

In [ ]:
#WAE to check the given character is an ascii number
ch=9
print(0<=ch<=9)

True

In [ ]:
#WAE to check given character is special character
ch='@'
print(not('A'<=ch<='Z' or 'a'<=ch<='b'or '0'<=ch<='9'))

True

In [ ]:
#WAE to  check the given character should not be uppercase 
ch='g'
print(not('A'<=ch<='Z'))

True

In [ ]:
#WAE to  check the given character should not be lowercase
ch='G'
print(not('a'<=ch<='z'))

True

In [ ]:
#WAE to check the given character should not be a alphabet
ch='&'
print(not('A'<=ch<='Z' or 'a'<=ch<='b'))

True

In [ ]:
#WAE to check the given character should not be a ascii number
ch=5
print(not(0<=ch<=9))

False

In [ ]:
#WAE to check given character should not be a spcl character
ch='@'
print('A'<=ch<='Z' or 'a'<=ch<='b'or '0'<=ch<='9')

False

In [ ]:
#WAE  to check the given alphabet is vowel
ch='e'
print(ch in 'aeiouAEIOU')

True

In [ ]:
#WAE  to check the given alphabet is consonant
ch='B'
print(ch not in 'aeiouAEIOU')

True