In [2]:
print("hello world")

hello world

In [5]:
#write a statement to initialize variable and value as 50
a=50
print(a)

50

In [8]:
#write a statement to initialize multi variable values 
a,b,c =150,120,250
print(a,b,c)

150 120 250

In [10]:
#WAS to print type of data in given value
a={b:25}
print(type(a))

<class 'dict'>

In [11]:
#WAS to print the adress of memory block in given value
a=[10,20]
print(id(a))

2988048669824

In [17]:
#WAS to print your details ,first store your details , extract and display.
name='prasu'
age=22
phno=9876543210
pancard=True
print(name)
print(age)
print(pancard)

prasu
22
True

In [18]:
#WAS to swap 2 values with temp variable
a=10
b=20
temp=a
a=b
b=temp
print(a)
print(b)

20
10

In [9]:
#WAS to swap 2 values with out temp variables
m=[10,20]
n=[30,40]
print(m,n)
print(n,m)

[10, 20] [30, 40]
[30, 40] [10, 20]

In [36]:
#was to initialize the value,print a value,reinitialize the new value to the existing variable and display the value
a={'a':"pyspiders"}
print('a')
a['a']="qspiders"
a
a=[10,20]
a

a

[10, 20]

In [34]:
#WAS to convert single value data type to ,multi value data type
#i/p=10 o/p=['1','0']
a=10
a=str(a)
print(str(a))
print(list(a))

10
['1', '0']

In [49]:
#WAS to concatinate two multi value data types(string, list, tupule,set,dict)
x="hello"
x+="world"
print(x)
l=[10,20]
l+=[60,70]
print(l)
t=('prasu')
t+=('teju')
print(t)
d={10:20,30:40}
d|={'a':"hyy",'b':"byee"}
print(d)

helloworld
[10, 20, 60, 70]
prasuteju
{10: 20, 30: 40, 'a': 'hyy', 'b': 'byee'}

In [50]:
#WAs to concate  length of collection
a="laxmiprasanna"
print(len(a))

13

In [56]:
#WAE to  find out the middle value of given collection
a=[10,20,30,40,50]
len(a)
[a(len(a)//2)]

TypeError: 'list' object is not callable